*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
	padding: 0 5rem;
}

.title {
	text-decoration: underline;

	margin-block: 5rem 2rem;
}

#calculator {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-control {
	display: grid;
	gap: 0.25rem;
}

.form-control > * {
	width: max-content;
}
.form-control > :is(input, select) {
	padding: 0.5rem;
}

.form-control > :is(input, select):disabled {
	visibility: hidden;
}

.btn-submit {
	border: none;
	border-radius: 0.25rem;
	background: cornflowerblue;

	color: #fff;

	width: max-content;

	padding: 0.75rem 1rem;

	cursor: pointer;
}

.result-div {
	margin-top: 3rem;
	width: max-content;
}

.result-div h1 {
	text-decoration: underline;

	margin-bottom: 1rem;
}

.result-div p {
	text-align: center;
	font-size: 1.5rem;
}

.hidden {
	display: none;
}
