*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
	padding: 5rem;
}

.title {
	margin-bottom: 2rem;
	text-align: center;
}

#calculator {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-control {
	display: grid;
	gap: 0.25rem;
}

.form-control > * {
	width: max-content;
}

.btn-submit {
	width: max-content;

	padding: 0.5rem 1rem;
}
